<mat-card>
  <mat-card-title>
    <span *ngIf="currentWidget.id == null; else editTitle">
      Select widget
    </span>
    <ng-template #editTitle>
      Edit Widgets {{ currentWidget?.title }}</ng-template
    >
  </mat-card-title>
  <mat-card-content>
      <form #wForm="ngForm">
      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="currentWidget.title"
          placeholder="Title"
          type="text"
          required
          name="title"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          name="description"
          [(ngModel)]="currentWidget.description"
          placeholder="Description"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="currentWidget.email"
          placeholder="Email"
          type="email"
          required
          name="title"
        />
      </mat-form-field>
    </form>

    <button mat-button color="primary" [disabled]="wForm.invalid">Save</button>
  </mat-card-content>
</mat-card>
<!-- {{ wForm | json }} -->
